@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: light;
}
/* 모든 Pretendard 폰트 파일 정의 */
@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/Pretendard-Regular.woff') format('woff'),
        url('/static/fonts/Pretendard-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/Pretendard-Bold.woff') format('woff'),
        url('/static/fonts/Pretendard-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* 필요한 모든 font-weight와 style을 추가 정의 */
@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/Pretendard-Light.woff') format('woff'),
        url('/static/fonts/Pretendard-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/static/fonts/Pretendard-ExtraBold.woff') format('woff'),
        url('/static/fonts/Pretendard-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Pretendard', sans-serif;
    min-height: 100vh; /* 화면 전체 높이 */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
}

.container {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; /* 가운데 정렬 */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.shadow-xxl {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); /* 그림자 크기, 흐림 정도, 색상 조절 */
}
